$section-width: 500px;

.dummies {
  margin: 0 auto;
  width: $section-width;

  h1 {
    font-size: 1.5em;
    font-weight: 400;
  }

  .subTitle {
    font-style: italic;
  }

  .spinnerSection {
    position: relative;
    height: 50px;
    overflow: auto;
  }
}
